{% extends 'base.html' %}

{% block head %}
<title>List</title>
{% endblock %}

{% block body %}
<div>
    <form action="/" method="GET">
        <input type="text" id="list" name="list">
        <input type="submit" value="Gimme List">
    </form>
</div>

<div>
    {% if l>0 %}

        {% if exists %}

            <p>List selected: {{list_name}}</p>

            <table>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Catagory</th>
                </tr>
                {% for v in view_list %} 
                    <tr>
                        <td>{{ v.id }}</td>
                        <td>{{ v.name }}</td>
                        <td>${{ v.price }}</td>
                        <td>{{ v.catagory.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}    
        <p>That list does not exist!</p> 
        {% endif %}

    {% else %}
    <p>no list selected</p>
    {% endif %}
</div>

{% endblock %} 